{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block conteudo %}
    <section class="section-top">
        <div class="container mb-5">
            <div class="row">
                <div class="section-title">
                    <h2>Contato</h2>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-lg-4">
                    <div class="card shadow-lg">
                        <div class="card-header"><h4>E-mail</h4></div>
                        <div class="card-body">
                            <p>amacanoinhas@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card shadow-lg">
                        <div class="card-header"><h4>Telefone</h4></div>
                        <div class="card-body">
                            <p>(47) 9 8424-3025</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card shadow-lg">
                        <div class="card-header"><h4>Endereço</h4></div>
                        <div class="card-body">
                            <p>Rua Alberto Tokarski, Nº 11, Tricolin, 89460-000 - Canoinhas-SC</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="mt-5">
                <h4>Mensagem</h4>
                {% crispy mensagem-form %}
            </div>    
        </div>
    </section>
{% endblock conteudo %}

