{% extends 'base.html' %}
{% load static %}

{% block conteudo %}
<section class="section-top">
    <div class="container">
        <div class="card shadow-lg">
            <div class="card-body">
                <div id="tabs">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab-mensagens">
                                <h4>
                                    Mensagens
                                </h4>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-noticias">
                                <h4>
                                    Notícias
                                </h4>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-projetos">
                                <h4>
                                    Projetos
                                </h4>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-eventos">
                                <h4>
                                    Eventos
                                </h4>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-parceiros">
                                <h4>Parceiros</h4>
                            </a>
                        </li>
                    </ul>
                    
                    <div class="tab-content">
                        <div class="tab-pane container active" id="tab-mensagens">
                            <div class="container">
                                <div class="row p-2">
                                    <div class="col-auto">
                                        <form action="" method="get" class="form-inline">
                                            <div class="form-group">
                                                <label for="ordena-mensagens">Ordenar por: </label>
                                                <select name="" id="ordena-mensagens" class="ml-2 form-control" onchange="this.form.submit()">
                                                    <option value="Lidas">Lidas</option>
                                                    <option value="Lidas">Não lidas</option>
                                                    <option value="Lidas">Recentes</option>
                                                    <option value="Lidas">Antigas</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div id="id-lista-mensagens" class="col-lg-12">
                                        <div class="list-group">
                                            {% for mensagem in mensagens %}
                                                <div id="mensagem_{{ mensagem.pk }}" class="list-group-item list-group-item-action list-group-item-light">
                                                    <div class="row">
                                                        <a class="col-lg-8" href="{% url 'ama:detalhes_mensagem' mensagem.pk %}">
                                                            <div class="row">
                                                                <div class="col-lg-4">
                                                                    <p>{{ mensagem.nome }}</p>
                                                                </div>
                                                                <div class="col-lg-8">
                                                                    <p>{{ mensagem.assunto }}</p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <div class="col-lg-2">
                                                            <p>{{ mensagem.data | date:'d/m/Y' }}</p>
                                                        </div>
                                                        <div class="col-lg-1">
                                                            {% if mensagem.lida %}
                                                                <button id="mensagem-lida" type="button" class="btn-sm" data-toggle="tooltip" 
                                                                    data-placement="top" title="Marcar como não lida" funvalue="false" onclick="marcar_lida({{ mensagem.pk }}, this)">
                                                                    <i class="icofont-envelope icofont-2x"></i>
                                                                </button>
                                                            {% else %}
                                                                <button id="mensagem-nao-lida" type="button" class="btn-sm" data-toggle="tooltip"
                                                                    data-placement="top" title="Marcar como lida" funvalue="true" onclick="marcar_lida({{ mensagem.pk }}, this)">
                                                                    <i class="icofont-envelope-open icofont-2x"></i>
                                                                </button>
                                                            {% endif %}
                                                        </div>  
                                                        <div class="col-lg-1">
                                                            <button onclick="excluir_mensagem({{ mensagem.pk }})" class="btn-sm" data-toggle="tooltip"
                                                                data-placement="top" title="Excluir">
                                                                <i class="icofont-trash icofont-2x" style="color: red;"></i> 
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane container fade" id="tab-noticias">
                            <div class="container">
                                <div class="row p-2">
                                    <div class="col-lg-12">
                                        <div class="float-left">
                                            <form action="" method="get" class="form-inline">
                                                <div class="form-group">
                                                    <label for="ordena-noticias">Ordenar por: </label>
                                                    <select name="" id="ordena-noticias" class="ml-2 form-control" onchange="this.form.submit()">
                                                        <option value="">Publicadas</option>
                                                        <option value="">Não publicadas</option>
                                                        <option value="">Recentes</option>
                                                        <option value="">Antigas</option>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="float-right">
                                            <a href="{% url 'ama:escrever_noticia' %}" class="btn btn-primary">Escrever Notícia</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row p-2">
                                    {% for noticia in noticias %}
                                        <div id="noticia_{{ noticia.pk }}" class="col-lg-4 mb-3">
                                            <div class="card shadow-lg">
                                                <div class="card-header">
                                                    <img class="img-fluid mx-auto d-block capa-noticia" src="{{ noticia.capa.url }}" alt="{{ noticia }}">
                                                </div>
                                                <div class="card-body">
                                                    <div class="col-lg-12 text-justify">
                                                        <h5>{{ noticia }}</h5>
                                                    </div>
                                                </div>
                                                <div class="card-footer">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <a href="{% url 'ama:editar_noticia' noticia.slug %}" class="btn btn-primary">Editar</a>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <button onclick="excluir_noticia({{ noticia.pk }})" class="btn btn-danger">Excluir</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane container fade" id="tab-projetos">
                            <div class="container">
                                <div class="row p-2">
                                    <div class="col-lg-12">
                                        <div class="float-left">
                                            <form action="" method="get" class="form-inline">
                                                <div class="form-group">
                                                    <label for="ordena-projetos">Ordenar por: </label>
                                                    <select name="" id="ordena-projetos" class="ml-2 form-control" onchange="this.form.submit()">
                                                        <option value="">Publicadas</option>
                                                        <option value="">Não publicadas</option>
                                                        <option value="">Recentes</option>
                                                        <option value="">Antigas</option>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="float-right">
                                            <a href="{% url 'ama:escrever_projeto' %}" class="btn btn-primary">Escrever Projeto</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row p-2">
                                    {% for projeto in projetos %}
                                        <div id="projeto_{{ projeto.pk }}" class="col-lg-4 mb-3">
                                            <div class="card shadow-lg">
                                                <div class="card-header">
                                                    <img class="img-fluid mx-auto d-block capa-projeto" src="{{ projeto.capa.url }}" alt="{{ projeto }}">
                                                </div>
                                                <div class="card-body">
                                                    <div class="col-lg-12 text-justify">
                                                        <h5>{{ projeto }}</h5>
                                                    </div>
                                                </div>
                                                <div class="card-footer">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <a href="{% url 'ama:editar_projeto' projeto.slug %}" class="btn btn-primary">Editar</a>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <button onclick="excluir_projeto({{ projeto.pk }})" class="btn btn-danger">Excluir</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane container fade" id="tab-eventos">
                            <div class="container">
                                <div class="row p-2">
                                    <div class="col-lg-12">
                                        <div class="float-left">
                                            <form action="" method="get" class="form-inline">
                                                <div class="form-group">
                                                    <label for="ordena-eventos">Ordenar por: </label>
                                                    <select name="" id="ordena-eventos" class="ml-2 form-control" onchange="this.form.submit()">
                                                        <option value="">Publicadas</option>
                                                        <option value="">Não publicadas</option>
                                                        <option value="">Recentes</option>
                                                        <option value="">Antigas</option>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="float-right">
                                            <a href="{% url 'ama:escrever_evento' %}" class="btn btn-primary">Escrever Evento</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row p-2">
                                    {% for evento in eventos %}
                                        <div id="evento_{{ evento.pk }}" class="col-lg-4 mb-3">
                                            <div class="card shadow-lg">
                                                <div class="card-header">
                                                    <img class="img-fluid mx-auto d-block capa-evento" src="{{ evento.capa.url }}" alt="{{ evento }}">
                                                </div>
                                                <div class="card-body">
                                                    <div class="col-lg-12 text-justify">
                                                        <h5>{{ evento }}</h5>
                                                    </div>
                                                </div>
                                                <div class="card-footer">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <a href="{% url 'ama:editar_evento' evento.slug %}" class="btn btn-primary">Editar</a>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <button onclick="excluir_evento({{ evento.pk }})" class="btn btn-danger">Excluir</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane container fade" id="tab-parceiros">
                            <div class="container">
                                <div class="row p-2">
                                    <div class="col-lg-12">
                                        <div class="float-right">
                                            <a href="{% url 'ama:adicionar_parceiro' %}" class="btn btn-primary">Cadastrar Parceiro</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row p-2">
                                    {% for parceiro in parceiros %}
                                        <div id="parceiro_{{ parceiro.pk }}" class="col-lg-4 mb-3">
                                            <div class="card shadow-lg">
                                                <div class="card-header">
                                                    <img class="parceiro-body" src="{{ parceiro.logo.url }}" alt="Logomarca {{ parceiro }}">
                                                </div>
                                                <div class="card-body">
                                                    <h5>{{ parceiro }}</h5>
                                                </div>
                                                <div class="card-footer">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <a href="{% url 'ama:editar_parceiro' parceiro.pk %}" class="btn btn-primary">Editar</a>
                                                        </div>  
                                                        <div class="col-lg-6">
                                                            <button onclick="excluir_parceiro({{ parceiro.pk }})" class="btn btn-danger">Excluir</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</section>
{% endblock conteudo %}

{% block scripts %}
    <script src="{% static 'custom/js/dashboard.js' %}"></script>
    <script src="{% static 'custom/js/parceiro.js' %}"></script>
{% endblock scripts %}