{% extends 'base.html' %}

{% block conteudo %}
<section class="section-top">
    <div class="container">
        <div class="col-lg-12">
            <div class="card shadow-lg">
                <div class="card-content">
                    <div class="card-header col-lg-12 text-center section-title">
                        <h2 class="title-color">{{ indicacao }}</h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 text-center mt-5">
                                <img src="{{ indicacao.capa.url }}" alt="{{ indicacao }}" class="img-fluid">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-left mt-5 text-black">
                                <hr>
                                <p>Públicado em {{ indicacao.data_publicacao }}</p>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-justify text-black">
                                <p>{{ indicacao.texto | safe }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock conteudo %}