{% extends 'base.html' %}

{% block conteudo %}
    <section class="section-top">
        <div class="container mb-5">
            <div>
                <div class="row">
                    <div class="col-lg-12 text-center section-title">
                        <h2>{{ indicacao }}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center mt-5">
                        <img src="{{ indicacao.capa.url }}" alt="{{ indicacao }}" class="img-fluid">
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto text-left mt-5 text-black">
                        <p>Públicado em {{ indicacao.data_publicacao }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-justify text-black">
                        <p>{{ indicacao.texto | safe }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock conteudo %}