{% extends 'base.html' %}
{% load static %}

{% block conteudo %}
    <section class="section-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card shadow-lg">
                        <div class="card-content">
                            <div class="card-header text-center">
                                <h3>Pix QR Code</h3>
                            </div>
                            <div class="card-body">
                                <p class="font-weight-bold">Use o QR code ou copie e cole no seu banco o código:</p>
                                <p class="text-center"><img id="qr-code-image" src="{% static 'images/qr-code.jpeg' %}" alt="QR Code para pagamentos Pix." class="img-fluid"></p>
                                <p class="text-left">00020126440014br.gov.bcb.pix0122amacanoinhas@gmail.com5204000053039865802BR5925Associacao de pais amigos6009Canoinhas6226052211uBan9zRFw9EU27ThuB3T6304A747</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card shadow-lg">
                        <div class="card-content">
                            <div class="card-header text-center">
                                <h3>Faça um Pix</h3>
                            </div>
                            <div class="card-body">
                                <p><span class="font-weight-bold">Chave:</span> amacanoinhas@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card shadow-lg">
                        <div class="card-content">
                            <div class="card-header text-center">
                                <h3>Transferência Bancária</h3>
                            </div>
                            <div class="card-body">
                                <p><span class="font-weight-bold">Agência:</span> 0001</p>
                                <p><span class="font-weight-bold">Conta:</span> 1231495-4</p>
                                <p><span class="font-weight-bold">Instituição:</span> 403 - Cora SCD</p>
                                <p><span class="font-weight-bold">Nome da Empresa:</span> Associacao de pais amigos dos autistas de Canoinhas-AMA</p>
                                <p><span class="font-weight-bold">CNPJ:</span> 40.047.303/0001-84</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock conteudo %}

