{% extends 'base.html' %}

{% block conteudo %}
    <section class="section-top mb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center section-title">
                    <h2>Notícias</h2>
                    <div class="divider mx-auto my-4"></div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-12">
                    <form action="" method="GET" class="">
                        <div class="col-lg">
                            <div class="row">
                                <div class="form-group col-lg-2">
                                    {{ filterset.form.data_publicacao }}
                                </div>
                                <div class="form-group col-lg-6">
                                    {{ filterset.form.titulo }}
                                </div>
                                <div class="form-group col-lg-2">
                                    <input type="submit" class="btn-sm btn-primary" style="height: 100%;" value="Filtrar">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                {% for noticia in page_obj %}
                    <div class="col-lg-4 mb-5">
                        <a href="{% url 'ama:detalhes_noticia' noticia.slug %}">
                            <div>
                                <div class="card shadow-lg align-items-center">
                                    <div class="card-header">
                                        <img src="{{ noticia.capa.url }}" alt="{{ noticia }}" 
                                            class="img-fluid capa-noticia">
                                    </div>
                                    <div class="card-body text-justify">
                                        <p>{{ noticia.data_publicacao }}</p>
                                        <hr>
                                        <h5 class="h5-hover">{{ noticia }}</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>

            {% if is_paginated %}
                <div class="pagination">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1">&laquo;</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lsaquo;</a>
                            </li>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <li class="page-item active">
                                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                </li>
                            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} 
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">&rsaquo;</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock conteudo %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            console.log(document.getElementsByTagName('label'))
            document.getElementsByTagName('label')[0].style.display = 'none'
        });
    </script>
{% endblock scripts %}