{% extends 'base.html' %}

{% block conteudo %}

<section class="section-top">
<div class="container">
    <div class="col-lg-12">
        <div class="card shadow-lg">
            <div class="card-content">
                <section class="section-top" id="ama-section">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 text-center">
                                <div class="section-title">
                                    <h2>O que é a AMA?</h2>
                                    <div class="divider mx-auto my-4"></div>
                                    <p class="text-justify">A AMA, Associação de Pais e Amigos dos Autistas, iniciou com uma instituição fundada no Brasil em 1983 por um grupo de pais com filhos recém diagnosticados com autismo que decidiram se reunir para entender esse transtorno,  e construir um futuro que amparasse seus filhos e proporcionasse a eles maior independência e produtividade, além de disseminar o assunto á sociedade.
                                    </p>
                                    <p class="text-justify">Não diferente, a AMA Canoinhas, é uma Associação Civil sem fins lucrativos, com a finalidade de promover os direitos humanos por meio da prestação de serviços educacional, de saúde e de assistência a pessoas com transtorno do espectro autista (TEA).
                                    </p>
                                    <p class="text-justify">Nossa missão é proporcionar á pessoa com autismo uma qualidade de vida digna: trabalho, saúde, lazer e integração à sociedade.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="section-top" id="surgiu-section">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 text-center">
                                <div class="section-title">
                                    <h2>Como surgiu?</h2>
                                    <div class="divider mx-auto my-4"></div>
                                    <p class="text-justify">A AMA Canoinhas surgiu quando, diante da condição de seus filhos (dentro do espectro autista) as mães Sarah Hoppe e Taisa Meline Budant uniram – se em prol dessa causa, com o sonho e a vontade de ter uma instituição focada no atendimento e acolhimento de pessoas com TEA e suas famílias.
                                    </p>
                                    <p class="text-justify">Com ajuda de suas respectivas cunhadas Juliana Maciel e Elisângela Bitencourt que abraçaram a causa, resolveram juntas tirar esse sonho do papel, sendo então as quatro mulheres fundadoras da AMA na cidade de Canoinhas, que no dia 09 de Setembro de 2020 teve oficialmente a associação fundada no município.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="section-top" id="oferecemos-section">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 text-center">
                                <div class="section-title">
                                    <h2>O que oferecemos?</h2>
                                    <div class="divider mx-auto my-4"></div>
                                    <p class="text-justify">Orientação sobre os direitos do autista (quais são, bem como onde e como acessá-los).</p>
                                    <p class="text-justify">Encontro com grupo de pais, a fim de acolher, trocar experiências, disseminar conhecimento e orientações.</p>
                                    <p class="text-justify">Promover conscientização, disseminando conhecimento sobre o TEA, através de campanhas e atividades direcionadas.</p>
                                    <p class="text-justify">Brinquedoteca a disposição dos associados para empréstimos de brinquedos e materiais pedagógicos voltados para estimulação de diversas habilidades.</p>
                                    <p class="text-justify">Biblioteca contendo livros infantis para aprendizagem e também livros técnicos, relacionados ao  TEA, intervenções e Análise do comportamento aplicada (ABA). </p>
                                    <p class="text-justify">Em breve com futuras parcerias, desejamos poder proporcionar atendimento multidisciplinar conforme a necessidade de cada Autista. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="section-top" id="autismo-section">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 text-center">
                                <div class="section-title">
                                    <h2>Sobre o autismo</h2>
                                    <div class="divider mx-auto my-4"></div>
                                    <p class="text-justify">O Transtorno do Espectro do Autismo (TEA) é um transtorno  do neurodesenvolvimento que se manifesta na primeira infância e perdura por toda a vida, englobando déficits qualitativos na comunicação e interação social. Além disso, o indivíduo com autismo apresenta padrões de comportamento repetitivos e estereotipados e um repertório restrito de atividades.
                                    </p>
                                    <p class="text-justify">O autismo não tem  cura, mas a intervenção precoce pode alterar o prognóstico e suavizar os sintomas.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="section-top" id="causas-section">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 text-center">
                                <div class="section-title">
                                    <h2>Quais são as causas?</h2>
                                    <div class="divider mx-auto my-4"></div>
                                    <p class="text-justify">Não existe uma causa única e determinada. O que se sabe hoje é que o autismo é resultado de uma série de alterações no funcionamento normal do cérebro. Ou seja, a comunidade médica acredita, que fatores genéticos representam cerca de 90% das causas do autismo, enquanto fatores ambientais só são responsáveis por 10%.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="section-top" id="sinais-section">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 text-center">
                                <div class="section-title">
                                    <h2>Sinais e Sintomas</h2>
                                    <div class="divider mx-auto my-4"></div>
                                    <p class="text-justify">Baixo contato visual</p>
                                    <p class="text-justify">Hábitos repetitivos</p>
                                    <p class="text-justify">Interesses restritos, fixos e intensos</p>
                                    <p class="text-justify">Não atender quando é chamado</p>
                                    <p class="text-justify">Não responder ao sorriso ou outras expressões faciais dos pais</p>
                                    <p class="text-justify">Hiperatividade ou muita passividade</p>
                                    <p class="text-justify">Dificuldade de comunicação, na fala ou ausência de fala</p>
                                    <p class="text-justify">Choro ou risadas não adequados a situação</p>
                                    <p class="text-justify">Dificuldade em lidar com mudanças de rotina</p>
                                    <p class="text-justify">Falta de consciência do perigo</p>
                                    <p class="text-justify">Dificuldade em se relacionar com crianças da mesma idade</p>
                                    <p class="text-justify">Brinca ou usa de brinquedos de forma incomum</p>
                                    <p class="text-justify">Dificuldade para entender gírias, piadas, ironias, duplo sentido</p>
                                    <p class="text-justify">Prefere estímulos visuais aos verbais</p>
                                    <p class="text-justify">Vale lembrar que os sinais e sintomas de autismo (TEA) vão afetar cada pessoa de maneira e intensidade diferentes. Ou seja, isso depende de fatores como o grau de comprometimento, associação ou não com deficiência intelectual, e com presença ou não de fala.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>
</section>
{% endblock conteudo %}

