{% extends 'base.html' %}

{% load static %}

{% block conteudo %}
<section class="section-top">
    <div class="container">
        <div class="col-lg-12">
            <div class="card shadow-lg">
                <div class="card-content">
                    <div class="product-detail">
                        <div class="row">
                            <div class="offset-md-1 col-md-5">
                                <div class="product-detail-image mainImgContainer">
                                    <img id="mainProductImage" class="content" src="https://cdn.awsli.com.br/600x700/304/304285/produto/58025650/6f05c58c8d.jpg" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="product-detail-card">
                                    <div class="product-detail-title text-left mt-5">
                                        <h2 class="title-color">{{produto.nome}}</h2>
                                        <div class="divider mt-3"></div>
                                    </div>
                                </div>
                                <div class="product-detail-prices text-left mt-3">
                                    <p class="product-previous-value ">R$ {{produto.preco}}</p>
                                    <p class="product-current-value ">R$ {{produto.preco_promocional}}</p>
                                    <div class="divider mt-4"></div>
                                </div>
                                <div class="product-detail-alt-images mt-3">
                                    <ul class="product-detail-list-images">
                                        <li onclick="changeMainImage(this)" class="product-detail-list-item"><img
                                            src="https://cdn.awsli.com.br/600x700/304/304285/produto/58025650/6f05c58c8d.jpg"></li>
                                        <li onclick="changeMainImage(this)" class="product-detail-list-item"><img
                                            src="https://9a4cdd8e5789bb85.cdn.gocache.net/palaciodot/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/c/a/camiseta-branca-20118_1.jpg"></li>
                                        <li onclick="changeMainImage(this)" class="product-detail-list-item"><img
                                            src="https://img.elo7.com.br/product/zoom/2414FC6/camiseta-lisa-100-algodao-30-1-verde-verde.jpg"></li>
                                        <li onclick="changeMainImage(this)" class="product-detail-list-item"><img
                                            src="https://a-static.mlcdn.com.br/618x463/camiseta-masculina-basica-malwee-preta-gola-redonda-g/gabrielagarcianunes/388024aa875e11eb8cfa4201ac1850e0/7a2acc5953047a6bb37878461de33aed.jpg"></li>
                                        <li onclick="changeMainImage(this)" class="product-detail-list-item"><img
                                            src="https://www.punkstein.com/loja/34722-thickbox_default/camiseta-roxa-sem-estampa.jpg"></li>
                                    </ul>
                                    <div class="divider mt-3"></div>
                                </div>
                                <div class="product-detail-contact mt-3">
                                    <a href="https://chat.whatsapp.com/IOiIg0en1u2ILUYclMvaBi">
                                        <button class="contact-button rounded">
                                            <img src="https://logodownload.org/wp-content/uploads/2015/04/whatsapp-logo-1.png"
                                            class="contact-icon rounded" />Entre em contato</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="offset-md-1 col-md-5">
                                <div class="product-detail-info">
                                    <h2 class="title-color">Detalhes</h2>
                                    <div class="divider mt-3"></div>
                                    <div class="product-detail-content">
                                        <p>{{produto.descricao | safe}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
                        <script src="{% static 'js/store_item.js'%}"></script>
                        {% endblock conteudo %}