{% extends 'parcial/_dashboard_nav.html' %}
{% load static %}

{% block dashboard_content %}
    <div class="row">
        <div class="col-lg-12">
            <form action="" method="GET" class="form-inline">
                <div class="col-lg">
                    <div class="d-flex justify-content-center bd-highlight mb-3">
                        <div class="form-group col-lg-6">
                            {{ filterset.form.nome }}
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn-sm btn-primary" value="Buscar" style="height: 100%;">
                        </div>
                    </div>
                </div>
            </form> 
        </div>
    </div>
    <div class="row col-lg-auto">
        <div class="float-left">
            <a href="{% url 'loja:add_produto' %}" typy="button" class="btn btn-primary">Novo Produto</a>
        </div>
    </div>
    <div class="row mt-4">
        {% for produto in filterset.qs %}
            <div id="produto_{{ produto.pk }}" class="col-lg-4 mb-5">
                <div class="card shadow-lg">
                    <div class="card-content">
                        <div class="card-header" style="height: 200px;">
                            <img src="https://cdn.awsli.com.br/600x700/304/304285/produto/58025650/6f05c58c8d.jpg" class="img-fluid mx-auto d-block h-100 w-auto">
<!--                           <img src="{{ produto.foto.url }}" alt="{{ produto }}" class="img-fluid mx-auto d-block h-100 w-auto"> -->
                        </div>
                        <div class="card-body text-justify">
                                <h5 class="mb-4">{{ produto }}</h5>
                                <div style="border-bottom:1px solid darkgrey;"></div>
                                <p class="mb-0 mt-4">Quantidade: {{ produto.quantidade }}</p>
                                <p class="mb-0">Preço: {{ produto.preco }}</p>
                                <p class="mb-0">Promoção: {{ produto.preco_promocional }}</p>
                            </a>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="{% url 'loja:editar_produto' produto.pk %}" class="btn btn-primary w-100">Editar</a>
                                </div>
                                <div class="col-lg-6">
                                    <button class="btn btn-danger w-100" onclick="excluir_produto({{ produto.pk }})">Excluir</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock dashboard_content %}    

{% block dashboard_scripts %}
    <script src="{% static 'custom/js/produto.js' %}"></script>
{% endblock dashboard_scripts %}
