.asteriskField {
    color: red;
}

.asteriskField::before {
    content: " ";
}

#nav-image {
    width: auto;
    height: 15vh;
}

.carousel-inner img {
    max-height: 500px;
}

.text-black {
    color: rgb(0, 0, 0);
}

.card {
    border: none;
}

.card-header {
    background-color: white;
}

.parceiro-header h4 {
    color: #223a66;
    margin-bottom: 0px;
}

.parceiro-body {
    width: 100%;
    height: auto;
}

.section-top {
    padding-top: 50px;
}

.section-title {
    margin-bottom: 0px;
}
