.asteriskField {
    color: red;
}

.asteriskField::before {
    content: " ";
}

#nav-image {
    width: auto;
    height: 95px;
}

.carousel-inner img {
    max-height: 500px;
}

.text-black {
    color: rgb(0, 0, 0);
}

.card {
    border: none;
}

.card-header {
    background-color: white;
}

.parceiro-header h4 {
    color: #223a66;
    margin-bottom: 0px;
}

.parceiro-body {
    width: 100%;
    height: auto;
}

.section-top {
    padding-top: 50px;
}

.section-title {
    margin-bottom: 0px;
}

.navnar-brand img {
    width: 100%;
}

.capa-noticia {
    height: 150px;
    width: auto;
    max-width: 100%;
}

a p {
    color: rgb(0, 0, 0);
}

a:hover h4 {
    color: #e12454;
    text-decoration: none;
}

.h5-hover:hover {
    color: #e12454;
    text-decoration: none;
}

.nav-link {
    color: #00ff00;
    text-decoration: none;
}

.nav-link {
    color: black;
}

.nav-tabs .nav-link.active h4 {
    color: #223a66;
}

.mt-nav {
    margin-top: 120px;
}

/* #tabs {
    border: 1px black;
    border-style: solid;
} */