{% load static %}

<!DOCTYPE html>
<html lang="zxx">

<head>
    {% include 'parcial/_head.html' %}
	<title>AMA Canoinhas</title>
</head>

<body id="top">

	<header>
		<div class="header-top-bar fixed-top">
			<div class="container">
			{% include 'parcial/_nav.html' %}
			</div>
		</div>
	</header>

	<main style="margin-top: 120px">
		<section>
			<div class="container">
				{% include 'parcial/_messages.html' %}
			</div>
		</section>

		{% block conteudo %}
		{% endblock conteudo %}
	</main>

	<!-- footer Start -->
	<footer class="footer section-top mt-5 gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 mr-auto col-sm-6">
					<div class="widget mb-5 mb-lg-0">
						<div class="logo mb-4">
							<img src="images/logo.png" alt="" class="img-fluid">
						</div>
						<p>Associação de Pais e Amigos dos Autistas.</p>

						<ul class="list-inline footer-socials mt-4">
							<li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/amacanoinhas"><i
										class="icofont-facebook"></i></a></li>
							<li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/amacanoinhas"><i
										class="icofont-instagram"></i></a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg-7 col-md-6 col-sm-6">
					<div class="widget widget-contact mb-5 mb-lg-0">
						<h4 class="text-capitalize mb-3">Contato</h4>
						<div class="divider mb-4"></div>

						<div class="footer-contact-block mb-4">
							<div class="icon d-flex align-items-center">
								<i class="icofont-ui-email mr-3"></i>
								<span class="h6 mb-0">E-mail</span>
							</div>
							<h4 class="mt-2">amacanoinhas@gmail.com</h4>
						</div>

						<div class="footer-contact-block">
							<div class="icon d-flex align-items-center">
								<i class="icofont-support mr-3"></i>
								<span class="h6 mb-0">Telefone</span>
							</div>
							<h4 class="mt-2">(47) 98424-3025</h4>
						</div>

						<div class="footer-contact-block">
							<div class="icon d-flex align-items-center">
								<i class="icofont-location-pin mr-3"></i>
								<span class="h6 mb-0">Endereço</span>
							</div>
							<h4 class="mt-2">Rua Alberto Tokarski, Nº 11, Tricolin</h4>
							<h4 class="mt-2">89460-000 - Canoinhas-SC</h4>
						</div>
					</div>
				</div>
			</div>

			<div class="footer-btm py-4 mt-5">
				<div class="row align-items-center justify-content-between">
					<div class="col-lg-auto">
						<div class="copyright">
							&copy; Direitos reservados para a 
							<span class="text-color">Associação de Pais e Amigos dos Autistas de Canoinhas-SC</span>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-4">
						<a class="backtop js-scroll-trigger" href="#top">
							<i class="icofont-long-arrow-up"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<!-- 
    Essential Scripts
    =====================================-->


	<!-- Main jQuery -->
	{% comment %} <script src="{% static 'plugins/jquery/jquery.js' %}"></script> {% endcomment %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js" integrity="sha512-Meww2sXqNHxI1+5Dyh/9KAtvI9RZSA4c1K2k5iL02oiPO/RH3Q30L3M1albtqMg50u4gRTYdV4EXOQqXEI336A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<!-- Bootstrap 4.3.2 -->
	<script src="{% static 'plugins/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'plugins/counterup/jquery.easing.js' %}"></script>
	<!-- Slick Slider -->
	<script src="{% static 'plugins/slick-carousel/slick/slick.min.js' %}"></script>
	<!-- Counterup -->
	<script src="{% static 'plugins/counterup/jquery.waypoints.min.js' %}"></script>

	<script src="{% static 'plugins/shuffle/shuffle.min.js' %}"></script>
	<script src="{% static 'plugins/counterup/jquery.counterup.min.js' %}"></script>
	<!-- Google Map -->
	<script src="{% static 'plugins/google-map/map.js' %}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>

	<script src="{% static 'js/script.js' %}"></script>
	<script src="{% static 'js/contact.js' %}"></script>

	{% block scripts %}{% endblock scripts %}
</body>

</html>