{% load static %}

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
<meta name="author" content="themefisher.com">

<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/ama-icon.jpg' %}" />

<!-- bootstrap.min css -->
<link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
<!-- Icon Font Css -->
<link rel="stylesheet" href="{% static 'plugins/icofont/icofont.min.css' %}">
<!-- Slick Slider  CSS -->
<link rel="stylesheet" href="{% static 'plugins/slick-carousel/slick/slick.css' %}">
<link rel="stylesheet" href="{% static 'plugins/slick-carousel/slick/slick-theme.css' %}">

<!-- Main Stylesheet -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'custom/custom-style.css' %}">

<!-- Datepicker -->
<link rel="stylesheet" href="{% static 'datepicker/css/datepicker.css' %}">
	